@using MudBlazor
@using SVFDriveLibrary.Models.FileExplorer

<MudBlazor.MudHotkey Key=JsKey.Delete OnHotkeyPressed="ShowDeleteConfirmation" />
<MudBlazor.MudHotkey Key=JsKey.F2 OnHotkeyPressed="ShowRenameDialog" />
<MudBlazor.MudHotkey Key=JsKey.KeyN KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="ShowNewFolderDialog" />
<MudBlazor.MudHotkey Key=JsKey.KeyM KeyModifiers=[JsKeyModifier.ControlLeft] OnHotkeyPressed="ShowNewFileDialog" />

@if (!_isLoading)
{
	<div class="section-card">
		<SfGrid @ref="_sfGrid" DataSource="@_folderFiles" AllowSorting="true" AllowFiltering="true" AllowResizing="true"
				CssClass="professional-grid" GridLines="GridLine.None" Toolbar="@ToolbarItems" ContextMenuItems="@_gridContextMenuItems">

			<GridEvents OnToolbarClick="ToolbarClickHandler" ContextMenuItemClicked="OnGridContextMenuItemClicked" OnRecordDoubleClick="RecordDoubleClickHandler" TValue="FileFolderModel" />
			<GridSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Row" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
			<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel" />

			<GridColumns>
				<GridColumn Field="@nameof(FileFolderModel.Name)" HeaderText="Name">
					<Template>
						@{
							var fileFolder = (context as FileFolderModel);
						}
						<div class="file-name-cell">
							@if (fileFolder.IsFile)
							{
								<MudImage Src="_content/SVFDrive.Shared/images/fileicon.png" Alt="File" Width="20" Height="20" />
							}
							else
							{
								<MudImage Src="_content/SVFDrive.Shared/images/foldericon.png" Alt="Folder" Width="20" Height="20" />
							}
							<span>@fileFolder.Name</span>
						</div>
					</Template>
				</GridColumn>


				<GridColumn Field="@nameof(FileFolderModel.LastWriteTime)" HeaderText="Date Modified" Width="200" Format="dd-MMM-yy hh:mm tt" Type="ColumnType.DateTime" />
				<GridColumn Field="@nameof(FileFolderModel.LengthDisplay)" HeaderText="Size" Width="150" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" />
			</GridColumns>
		</SfGrid>
	</div>
}

<DeleteConfirmationDialog @ref="_deleteConfirmationDialog" IdentifierValue="@_deleteItemName" OnConfirm="DeleteFileFolderFromAPI" OnCancel="CancelDelete" />

<EditDialog @ref="_editDialog" OnConfirm="HandleEditDialogConfirm" OnCancel="HandleEditDialogCancel" />

<ToastNotification @ref="_toastNotification" />