@using MudBlazor
@using SVFDriveLibrary.Models.FileExplorer

<MudBlazor.MudHotkey Key=JsKey.Delete OnHotkeyPressed="() => DeleteFileFolderFromAPI()" />

@if (!_isLoading)
{
	<div>
		<SfGrid @ref="_sfGrid" DataSource="@_folderFiles" AllowSorting="true" AllowFiltering="true" AllowResizing="true"
				CssClass="professional-grid" GridLines="GridLine.None" Toolbar="@ToolbarItems">

			<GridEvents OnToolbarClick="ToolbarClickHandler" OnRecordDoubleClick="RecordDoubleClickHandler" TValue="FileFolderModel" />
			<GridSelectionSettings Mode="Syncfusion.Blazor.Grids.SelectionMode.Row" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
			<GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel" />

			<GridColumns>
				<GridColumn Field="@nameof(FileFolderModel.Name)" HeaderText="Name">
					<Template>
						@{
							var fileFolder = (context as FileFolderModel);
							if (fileFolder.IsFile)
							{
								<MudImage Src="_content/SVFDrive.Shared/images/fileicon.png" Alt="File" Width="24" Height="24" />
							}
							else
							{
								<MudImage Src="_content/SVFDrive.Shared/images/foldericon.png" Alt="Folder" Width="24" Height="24" />
							}
							<span>@fileFolder.Name</span>
						}
					</Template>
				</GridColumn>


				<GridColumn Field="@nameof(FileFolderModel.LastWriteTime)" HeaderText="Date Modified" Width="200" Format="dd-MMM-yy hh:mm tt" Type="ColumnType.DateTime" />
				<GridColumn Field="@nameof(FileFolderModel.LengthDisplay)" HeaderText="Size" Width="150" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" />
			</GridColumns>
		</SfGrid>
	</div>
}

<ToastNotification @ref="_toastNotification" />